#{extends 'main.html' /} #{set title:'Admin Add a Candidate' /}

<nav class="ui menu">
	<a class="ui item" href="/admin/home">Admin Home</a> <a
		class="ui active item" href="/admin/addPage">Add Candidate</a> <a
		class="ui item" href="/adminEdit/index">Edit Candidate</a> <a
		class="ui item" href="/logout">Log Out</a>
</nav>

<section class="ui form segment">
	<form action="/admin/addCandidate" method="POST">
		<div class="ui two column grid">
			<div class="column">
				<div class="ui fluid form segment">
					<h3 class="ui header">Add a new Candidate</h3>
					<div class="ui error message"></div>
					<div class="two fields">
						<div class="field">
							<label>First Name</label> <input placeholder="First Name"
								name="firstName" type="text">
						</div>
						<div class="field">
							<label>Last Name</label> <input placeholder="Last Name"
								name="lastName" type="text">
						</div>
					</div>
					<div class="field">
						<label>Running for Office:</label>
						<div class="ui selection dropdown">
							<input name="office" type="hidden">
							<div class="default text">Office</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="President">President</div>
								<div class="item" data-value="Treasurer">Treasurer</div>
								<div class="item" data-value="Art Council">Art Council</div>
							</div>
						</div>
						<div class="field">
							<label>Email</label> <input placeholder="Email" name="email"
								type="email">
						</div>
						<div class="field">
							<label>Phone</label> <input placeholder="Phone" name="phone"
								type="text">
						</div>
						<div class="field">
							<label>Headquarters</label> <input placeholder="HQ" name="hq"
								type="text">
						</div>
						<div class="field">
							<label>Campaign Message</label> <input placeholder="Message"
								name="campaignMessage" type="text">
						</div>
						<div class="field">
							<label>Bio</label> <input placeholder="Bio" name="bio"
								type="text">
						</div>
						<div class="field">
							<label>Target</label> <input placeholder="Target" name="target"
								type="number" min="1" max="100">
						</div>
					</div>
				</div>

				<button type="submit" class="ui blue submit button">Submit</button>
			</div>
		</div>
		</div>

	</form>
</section>