#{extends 'main.html' /}
#{set title:'Admin Home' /}

  <nav class="ui menu">
    <a class="ui active item" href="/admin/home">Admin Home</a>
    <a class="ui item" href="/admin/addPage">Add Candidate</a>
    <a class="ui item" href="/adminEdit/index">Edit Candidate</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
    <h1>User List</h1>
      <table class="ui table segment">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Clique</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        #{list items:users, as:'user'}
          <tr>
            <td>${user.firstName} ${user.lastName}</td>
            <td>${user.address1},
                <br>${user.address2},
                <br>${user.city},
                <br>${user.postcode},
                <br>${user.country}</td>
            <td>${user.email}</td>
            <td>${user.clique}</td>
            <td>${user.schoolStatus}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="column">
    <div class="ui segment">
            <table class="ui table segment">
            <h1>Candidate List</h1>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Running for Office</th>
            <th>HQ</th>
            <th>Campaign Message</th>
            <th>Candidate Bio</th>
            <th>Target</th>
          </tr>
        </thead>
        <tbody>
        #{list items:candidates, as:'candidate'}
          <tr>
            <td>${candidate.firstName} ${candidate.lastName}</td>
            <td>${candidate.email}</td>
            <td>${candidate.phone}</td>
            <td>${candidate.office}</td>
            <td>${candidate.hq}</td>
            <td>${candidate.campaignMessage}</td>
            <td>${candidate.bio}</td>
            <td>${candidate.target}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
    </div>
  </div>
</div>