#{extends 'main.html' /}
#{set title:'Admin Log in' /}

  <nav class="ui menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui active item" href="/admin">Admin Log In</a>
  </nav>

<section class="ui red segment">
<h1>Warning: Admin Only</h1>
<p>This log in is for admin users only. Click <a href="/login">here</a> for general log in.</p>
</section>

<section class="ui segment">
<form action="/admin/authenticate" method="POST">
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Username</label>
        <input placeholder="Username" name="userName" type="text">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <button type="submit" class="ui blue submit button">Login</button>
    </div>
  </div>
  </div>
</form>
</section>