#{extends 'main.html' /} #{set title:'Select Candidate for Donation' /} 

  <nav class="ui menu">
    <a class="ui active item" href="/donation">Learn More</a>
    <a class="ui item" href="/donation/makeDonation">Make Donation</a>
    <a class="ui item" href="/donation/report">Report</a>
    <a class="ui item" href="/edit">Edit Details</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<section class="ui segment">
 <h1>Select the Candidate you wish to learn more about</h1>
 <div class="ui list">
    #{list items:candidates, as:'candidate'}
    <div class="item">
      <i class="right triangle icon"></i>
       ${candidate.firstName} ${candidate.lastName} - ${candidate.office} <a href="/donation/learnMore/${candidate.id}">Learn More</a> 
    </div>
    #{/list}
  </div>
  </section>