#{extends 'main.html' /} #{set title:'Make Donation' /} 

  <nav class="ui menu">
    <a class="ui active item" href="/donation">Learn More</a>
    <a class="ui item" href="/donation/makeDonation">Make Donation</a>
    <a class="ui item" href="/donation/report">Report</a>
    <a class="ui item" href="/edit">Edit Details</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>
  
<section class="ui segment">
<h1>Candidate: ${candidate.firstName} ${candidate.lastName}</h1>
<h2>Running for: ${candidate.office}</h2>
    <img class="ui large image" src="/adminEdit/getPicture/${candidate.id}">
<h2>${candidate.campaignMessage}</h2>
<p>${candidate.bio}</p>
<div class="ui bulleted list">
<label>Contact me:</label>
  <div class="item">${candidate.phone}</div>
  <div class="item">${candidate.email}</div>
  <div class="item">${candidate.hq}</div>
</div>

</section>

<div class="ui segment">
    <h4 class="ui header">Target Progress</h4>
    <p>Target = ${candidate.target} slices</p>
    <div class="ui successful progress">
        <div class="bar" style="width:${progress}"></div>
    </div>
  </div>
</section>
