#{extends 'main.html' /} #{set title:'Make Donation' /}

<nav class="ui menu">
	<a class="ui item" href="/donation">Learn More</a> <a
		class="ui active item" href="/donation/makeDonation">Make Donation</a>
	<a class="ui item" href="/donation/report">Report</a> <a
		class="ui item" href="/edit">Edit Details</a> <a class="ui item"
		href="/logout">Log Out</a>
</nav>

<section class="ui form segment">
	<h1>Welcome ${user.firstName}</h1>
	<h2>Please give generously</h2>

	<form class="donate" action="/donation/donate" method="POST">
	<div class="ui error message"></div>
		<p>Select Candidate</p>
		<div class="ui selection dropdown">
			<input name="id" type="hidden">
			<div class="default text">Candidate</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				#{list items:candidates, as:'candidate'}
				<div class="item" data-value="${candidate.id}">${candidate.firstName}
					${candidate.lastName}</div>
				#{/list}
			</div>
		</div>

		<p>Select number of slices:</p>
		<div class="ui selection dropdown">
			<input name="received" type="hidden">
			<div class="default text">Amount</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item" data-value="1">1 Slice</div>
				<div class="item" data-value="3">3 Slices</div>
				<div class="item" data-value="5">5 Slices</div>
			</div>
		</div>

		<p>Select type</p>
		<div class="ui form">
			<div class="grouped inline fields">
				<div class="field">
					<div class="ui radio checkbox">
						<input id="pepperoni" name="type" value="pepperoni"
							checked="checked" type="radio"> <label for="pepperoni">Pepperoni</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input id="hawaiian" name="type" value="hawaiian"
							checked="checked" type="radio"> <label for="hawaiian">Hawaiian</label>
					</div>
				</div>
			</div>
		</div>

		<button type="submit" class="ui submit button">Submit</button>
	</form>
	</section>