#{extends 'main.html' /} 
#{set title:'Report' /} 
  <nav class="ui menu">
    <a class="ui item" href="/donation">Learn More</a>
    <a class="ui item" href="/donation/makeDonation">Make Donation</a>
    <a class="ui active item" href="/donation/report">Report</a>
    <a class="ui item" href="/edit">Edit Details</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>
  
  <section class="ui segment">
<h4>List Donations</h4>

      <table class="ui table segment">
        <thead>
          <tr>
            <th>Donor Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Clique</th>
            <th>Status</th>
            <th>Number of Slices</th>
            <th>Type of Pizza</th>
            <th>Candidate</th>
            <th>Office</th>
          </tr>
        </thead>
        <tbody>
        #{list items:donations, as:'donation'}
          <tr>
            <td>${donation.from.firstName} ${donation.from.lastName}</td>
            <td>${donation.from.address1},
                <br>${donation.from.address2},
                <br>${donation.from.city},
                <br>${donation.from.postcode},
                <br>${donation.from.country}</td>
            <td>${donation.from.email}</td>
            <td>${donation.from.clique}</td>
            <td>${donation.from.schoolStatus}</td>
            <td>${donation.received}</td>
            <td>${donation.type}</td>
            <td>${donation.to.firstName}</td>
            <td>${donation.to.office}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
      </section>