#{extends 'main.html' /} #{set title:'Welcome' /} 

  <nav class="ui menu">
    <a class="ui item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>
    <a class="ui item" href="/admin">Admin Access</a>
  </nav>

<section class="ui segment">

  <div class="ui two column grid">
  <div class="column">
      <h1>Welcome to The Lawndale High Student Body Campaign Site!</h1>
      <p>Student body elections are drawing near at Lawndale High so this site has been set up for 
         students to learn more about the candidates, and even to donate to their campaigns. What are you waiting for?
         <a href="/signup">Sign up</a> now and get behind your choice for class president!
      </p>
  </div>
  <div class="column">
      <img src="/public/images/lawndale.jpg">
  </div>
  
  </div>

</section>