#{extends 'main.html' /}
#{set title:'Admin Edit Candidate' /}

  <nav class="ui menu">
    <a class="ui item" href="/admin/home">Admin Home</a>
    <a class="ui item" href="/admin/addPage">Add Candidate</a>
    <a class="ui active item" href="/adminEdit/index">Edit Candidate</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
  <form class="ui form" action="/adminEdit/changeName/${candidate.id}" method="POST">
    <div class="two fields">
      <div class="field">
      <div class="ui error message"></div>
        <label>First Name</label> <input placeholder="${candidate.firstName}" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label> <input placeholder="${candidate.lastName}" type="text" name="lastName">
      </div>
    </div>
    <button class="ui blue submit button">Change Name</button>
  </form>

  <form class="ui form" action="/adminEdit/changeOffice/${candidate.id}" method="POST">
          <div class="field">
          <div class="ui error message"></div>
      <label>Running for Office</label>
      <div class="ui selection dropdown">
  <input name="office"  type="hidden">
  <div class="default text">${candidate.office}</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="President">President</div>
    <div class="item" data-value="Treasurer">Treasurer</div>
    <div class="item" data-value="Art Council">Art Council</div>
  </div>
</div>
</div>
    <button class="ui blue submit button">Change Office</button>
  </form>

  <form class="ui form" action="/adminEdit/changeEmail/${candidate.id}" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>Email</label> <input placeholder="${candidate.email}" type="email" name="email">
    </div>
    <button class="ui blue submit button">Change Email</button>
  </form>
  
    <form class="ui form" action="/adminEdit/changePhone/${candidate.id}" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>Phone</label> <input placeholder="${candidate.phone}" type="text" name="phone">
    </div>
    <button class="ui blue submit button">Change Phone</button>
  </form>
  
    <form class="ui form" action="/adminEdit/changeHq/${candidate.id}" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>HQ</label> <input placeholder="${candidate.hq}" type="text" name="hq">
    </div>
    <button class="ui blue submit button">Change HQ</button>
  </form>
  
      <form class="ui form" action="/adminEdit/changeMessage/${candidate.id}" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>Campaign Message</label> <input placeholder="${candidate.campaignMessage}" type="text" name="campaignMessage">
    </div>
    <button class="ui blue submit button">Change Campaign Message</button>
  </form>
  
      <form class="ui form" action="/adminEdit/changeBio/${candidate.id}" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>Bio</label> <input placeholder="${candidate.bio}" type="text" name="bio">
    </div>
    <button class="ui blue submit button">Change Bio</button>
  </form>
  
    <form class="ui form" action="/adminEdit/changeTarget/${candidate.id}" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>Target</label> <input placeholder="${candidate.target}" type="number" name="target" min="1" max="100">
    </div>
    <button class="ui blue submit button">Change Target</button>
  </form>
</div>
</div>

<div class="column">
    <div class="ui segment">
    <img class="ui large image" src="/adminEdit/getPicture/${candidate.id}">
          <form action="/adminEdit/uploadPicture/${candidate.id}" method="POST" enctype="multipart/form-data">
          <input type="file" name="picture" /> 
          <input type="submit" name="submit" value="upload" />
  </form>
</div>
</div>
</div>