#{extends 'main.html' /}
#{set title:'Admin Select Candidate to Edit' /}

  <nav class="ui menu">
    <a class="ui item" href="/admin/home">Admin Home</a>
    <a class="ui item" href="/admin/addPage">Add Candidate</a>
    <a class="ui active item" href="/adminEdit/index">Edit Candidate</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<section class="ui segment">
<div class="ui list">
    #{list items:candidates, as:'candidate'}
    <div class="item">
      <i class="right triangle icon"></i>
       ${candidate.firstName} ${candidate.lastName} - ${candidate.office} <a href="/adminEdit/editPage/${candidate.id}">Edit Candidate</a> 
    </div>
    #{/list}
  </div></section>
