#{extends 'main.html' /} #{set title:'Edit Details' /} 

  <nav class="ui menu">
    <a class="ui item" href="/donation">Learn More</a>
    <a class="ui item" href="/donation/makeDonation">Make Donation</a>
    <a class="ui item" href="/donation/report">Report</a>
    <a class="ui active item" href="/edit">Edit Details</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>


<section class="ui form segment">
  <form class="ui form" action="edit/changeName" method="POST">
  <div class="ui error message"></div>
    <div class="two fields">
      <div class="field">
        <label>First Name</label> <input placeholder="${user.firstName}" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label> <input placeholder="${user.lastName}" type="text" name="lastName">
      </div>
    </div>
    <button class="ui blue submit button">Change Name</button>
  </form>
  </section>
  
  <section class="ui form segment">
    <form action="edit/changeAddress" method="POST">
      <div class="field">
        <label>Address Line 1</label> <input placeholder="${user.address1}" type="text" name="address1">
      </div>
      <div class="field">
        <label>Address Line 2</label> <input placeholder="${user.address2}" type="text" name="address2">
      </div>
      <div class="field">
        <label>City</label> <input placeholder="${user.city}" type="text" name="city">
      </div>
      <div class="field">
        <label>Post Code</label> <input placeholder="${user.postcode}" type="text" name="postcode">
      </div>
       <div class="field">
        <label>Country</label> <input placeholder="${user.country}" type="text" name="country">
      </div>
    <button class="ui blue submit button">Change Address</button>
  </form>
  </section>

<section class="ui form segment">
  <form class="ui form" action="edit/changeclique" method="POST">
                <div class="field">
                <div class="ui error message"></div>
            <label>Clique</label>
      <div class="ui selection dropdown">
  <input name="clique"  type="hidden">
  <div class="default text">${user.clique}</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="Goth">Goth</div>
    <div class="item" data-value="Jock">Jock</div>
    <div class="item" data-value="Nerd">Nerd</div>
    <div class="item" data-value="FashionClub">Fashion Club</div>
    <div class="item" data-value="Other">Other</div>
  </div>
  </div>
  </div>
    <button class="ui blue submit button">Change Clique</button>
  </form>
  </section>

<section class="ui form segment">
  <form class="ui form" action="edit/changeStatus" method="POST">
          <div class="field">
          <div class="ui error message"></div>
      <label>Status</label>
      <div class="ui selection dropdown">
  <input name="schoolStatus"  type="hidden">
  <div class="default text">${user.schoolStatus}</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="Junior">Junior</div>
    <div class="item" data-value="Sophmore">Sophmore</div>
    <div class="item" data-value="Senior">Senior</div>
    <div class="item" data-value="Faculty">Faculty</div>
  </div>
</div>
</div>
    <button class="ui blue submit button">Change Status</button>
  </form>
</section>

<section class="ui form segment">
  <form class="ui form" action="edit/changeEmail" method="POST">
    <div class="field">
    <div class="ui error message"></div>
      <label>Email</label> <input placeholder="${user.email}" type="email" name="email">
    </div>
    <div class="field">
      <label>Password</label> <input type="password" name="password">
    </div>
    <button class="ui blue submit button">Change Email and Password</button>
  </form>
</section>