#{extends 'main.html' /}
#{set title:'Signup' /}

  <nav class="ui menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui active item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>
  </nav>

<section class="ui form segment">
<form action="/register" method="POST">
<input type="checkbox" id = "lawndaleStudent" name="lawndaleStudent"> 
<label for="">*Tick to confirm you are a student or faculty member at Lawndale High</label>  
  <div class="ui two column grid">
  <div class="column">
    <div class="ui fluid form segment">
      <h3 class="ui header">Sign Up</h3>
      <p>* - denotes required field</p>
      <div class="ui error message"></div>
      <div class="two fields">
        <div class="field">
          <label>*First Name</label>
          <input placeholder="First Name" name="firstName" type="text">
        </div>
        <div class="field">
          <label>*Last Name</label>
          <input placeholder="Last Name" name="lastName" type="text">
        </div>
      </div>
            <div class="field">
            <label>*Clique</label>
      <div class="ui selection dropdown">
  <input name="clique"  type="hidden">
  <div class="default text">Clique</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="Goth">Goth</div>
    <div class="item" data-value="Jock">Jock</div>
    <div class="item" data-value="Nerd">Nerd</div>
    <div class="item" data-value="FashionClub">Fashion Club</div>
    <div class="item" data-value="Other">Other</div>
  </div>
  </div>
      <div class="field">
        <label>*Email</label>
        <input placeholder="Email" name="email" type="email">
      </div>
      <div class="field">
        <label>*Password</label>
        <input type="password" name="password">
      </div>
      <div class="field">
      <label>*Status</label>
      <div class="ui selection dropdown">
  <input name="schoolStatus"  type="hidden">
  <div class="default text">Status</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="Junior">Junior</div>
    <div class="item" data-value="Sophmore">Sophmore</div>
    <div class="item" data-value="Senior">Senior</div>
    <div class="item" data-value="Faculty">Faculty</div>
  </div>
</div>
</div>
      <div class="inline field">
        <div class="ui checkbox">
          <input id="conditions" type="checkbox">
            <label for="conditions">*I agree to the <a href src="/terms">terms and conditions</a></label>
        </div>
      </div>
      <div class="field">
          <label>Address Line 1</label>
          <input placeholder="Address Line 1" name="address1" type="text">
        </div>
        <div class="field">
          <label>Address Line 2</label>
          <input placeholder="Address Line 2" name="address2" type="text">
        </div>
        <div class="field">
          <label>City</label>
          <input placeholder="City" name="city" type="text">
        </div>
        <div class="field">
          <label>Post Code</label>
          <input placeholder="Post Code" name="postcode" type="text">
        </div>
        <div class="field">
          <label>Country</label>
          <input placeholder="Country" name="country" type="text">
        </div>
      <button type="submit" class="ui blue submit button">Submit</button>
    </div>
  </div>
</div>

</form>
</section>
