#{extends 'main.html' /}
#{set title:'Terms and Conditions' /}

  <nav class="ui menu">
    <a class="ui item" href="/signup">Back to Sign Up</a>
  </nav>

<section class="ui segment">
<h1>Terms and Conditions</h1>
<div class="ui ordered list">
  <div class="item">This site is for students and faculty of Lawndale only.</div>
  <div class="item">If you pledge to donate, you must follow through on the donation</div>
  <div class="item">That's about it.</div>
  <div class="item">Oh, and try to be nice to each other. We want clean campaigns this year.</div>
</div>
</section>